body{
 background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
text-align:center;
}
#picture1{
  border-radius:60%;
  width:50%;
}
#paragraph1{
  font-size:22px;
}
.menu{
    list-style: none;
        font-family:cursive;
    float:right;
    top:10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
